In [1]:
#1 addition of 2 numbers

n1=int(input("Enter the 1st number"))
n2=int(input("Enter the 2nd number"))
n3=n1+n2
print(n3)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#2 sub of 3 numbers

n1=30
n2=89
n3=80
n4=n1-n2-n3
print(n4)

-139

In [ ]:
3# write a program to print the given number is odd or even.

num=int(input("Enter a number:"))
if (num % 2) ==0:
    print("{0} is Even".format(num))
else:
    print("{0} is odd".format(num))

89 is odd

In [ ]:
#4write a program to find the given number positive or negative


num=int(input("Enter the given number:"))

#input=90

if num > 0:
    print("positive number")
elif num==90:
    print("Enter the 90") 
else:
    print("negative number")

#output:postive or negative

positive number

In [ ]:
#5Divisiblen of numbers

n1=int(input("Enter the 1st value"))
n2=int(input("Enter the second value"))
n3=n1%n2
print(n3)

30

In [ ]:
6#True division

n1=20
n2=30
n3=n1/n2
print(n3)

0.6666666666666666

In [ ]:
7#Floor division (//)

n1=int(input("Enter the 1st value"))
n2=int(input("Enter the 2nd value"))
n3=n1//n2
print(n3)

0

In [ ]:
#8was to print "Hello world" by using python

str=input("Enter the val")
print(str)

In [ ]:
ch='GG' #9
len(ch)==1 and 'A'<=ch<='Z'
print(ch)

GG

In [ ]:
# 10 To print "Hello World"

str="Hello world"
print(input("Enter the str"))

HELLOWORLD

In [ ]:
# 11 initiliaze var and val as 50?

a=50
a=10.09
a=10+5j
a=b'1010'
a=True
a=None
str="Hello world"
a=[10,20,30,40,50]
a=(10,20,30,40,50)
a=10,20,30,40,50
a={10,40,89,90}
a={10:30,30:50}

In [ ]:
#12 initiliaze multivariable values are 150,120,250

a,b,c=150,120,250


a=150
b=120
c=250
print(input("Enter a value"))
print(input("Enter b value"))
print(input("Enter c value"))

150
120
250

In [ ]:
#13Type of the data in given value

a={10,20}
print(type(a))

<class 'set'>

In [ ]:
#14print the address of the memory block in given value

a=id(a)
b=id(b)
c=id(c)
print(a)
print(b)
print(c)

1929425725776
1929425688464
1929425723472

In [ ]:
#15 print your details,first store your details,extract the value and display it

name:"vamsi"
age:22
phoneno:9347074123
email:"royalvamsi115@gmail.com"
height:5.11
pancard:True
print(input("Enter the name"))
print(input("Enter the age"))
print(input("Enter the email"))
print(input("Enter the phoneno"))
print(input("Enter the pancard"))

vamsi
22
royalvamsi115@gmail.com
9347074123
abc123

In [ ]:
#16swap the 2 values with a temp variable

x="haii"
y="bye"
Temp=x
x=y
y=Temp
print(x)
print(y)

bye
haii

In [ ]:
#17 swap the 2 value without a temp var

m=[10,50,30]
n={10,60,30}
m,n=n,m
print(m)
print(n)

{10, 60, 30}
[10, 50, 30]

In [ ]:
#18 initiliaze valu and print the val,
#after print the value,
#then reinitiliazethe new value to the existing var and display the value.

#fetch
a={'b':"pyspiders"}
print(a['b'])
#modification
a={'b':"qyspiders"}
print(a['b'])
#reintilization
b=[10,20,30]
print(b)
#concatination
b+=[50,60,70]
print(b)
#deletion
del a['b']

pyspiders
qyspiders
[10, 20, 30]
[10, 20, 30, 50, 60, 70]

In [ ]:
# 19 to convert singlevalue to multivalue

a=10
str(a)
list(str(a))

['1', '0']

In [ ]:
# 20was to concat the two multivalue datatypes

#string
x="hello"
x+="world"
print(x)

#list

y=[10,20,30]
y+=[80,90]
print(y)

#tuple
z=(20,30,40)
z+=(100,200)
print(z)

#set and dict are cannot concat

helloworld
[10, 20, 30, 80, 90]
(20, 30, 40, 100, 200)

In [ ]:
#21 wae to check the length of the coll

a=[10,20]
len(a)
print(len(a))

b=(10,20,30)
len(b)

2

3

In [ ]:
# 22 wae to check find out the middile value of given coll

d=[10,20,70,40,80]
d[len(d)//2]

70

In [ ]:
#23 was to concat the new string into the starting of given string

a="how r u"
b="haii"
print(b+a)

a=b+a

haiihow r u

In [ ]:
#24 was to conact the new string into the ending of the given string

a="vamsi"

a+="varun"
print(a)

vamsivarun

In [ ]:
#25 was to concat the new string into the middile

a="hello haii"
a=a[0:5]+"howru"+a[7::]
print(a)

hellohowruaii

In [ ]:
# 26was to modify the new character into the middile of the given string

s="pyspiders"
s[len(s)//2]

s[0:len(s)//2]+'l'+s[(len(s)//2)+1:]

'pysplders'

In [ ]:
#27 was to modify the sequence of character in given string

s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [ ]:
#28 was to replace the old character into a new character of the given string

s="pyspiders"
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [ ]:
#29 was to delete the specific character in the given string

s="pyspiders"
s[:2]+s[3:]

'pypiders'

In [ ]:
#30 was to delete the sequence character in the given string

s="pyspiders"
s[:3]+s[6:]

'pysers'

In [ ]:
#31 was to create the new string into the specific posistion of the given string

s="haii how r u!"
s[0:4]+"how"+s[4:]

'haiihow how r u!'

In [ ]:
#32 was to concate the new value into the starting of the given list

l1=[10,20,30,40,50]
l2=["vamsi","varun"]
l3=l2+l1
print(l3)

['vamsi', 'varun', 10, 20, 30, 40, 50]

In [ ]:
#33 was to concate the new value into the ending of the given list

l1=[10,20,30,40,50]
l2=["Vamsi","varun"]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 'Vamsi', 'varun']

In [ ]:
#34 was to concate the new value into the middile of the given list

l=[10,20,30,True,"hai"]
l[len(l)//2:len(l)//2]=[10,20]
print(l)

[10, 20, 10, 20, 30, True, 'hai']

In [ ]:
#35 was to concate the new value into the specific position of the given list

l=[10,10.10,True,'haii']
l[0:1]=[90,100]
print(l)

[90, 100, 10.1, True, 'haii']

In [ ]:
#36 was to modify the new value into the specific posistion of the given list?

l=[10,20,30,40,50,60]
l[1]=10+5j
print(l)

[10, (10+5j), 30, 40, 50, 60]

In [ ]:
#37 was to modify the new value into the starting of the given list

l=[10,12.02,10+5j,b'1010',True]
l[0]={10:20}
print(l)

[{10: 20}, 12.02, (10+5j), b'1010', True]

In [ ]:
#38  was to modify the new value into the ending of the given list

l=[10,10.12,10+6j,b'1010',False]
l[4]=True
print(l)

[10, 10.12, (10+6j), b'1010', True]

In [ ]:
#39 was to modify the new value in the middile of the given list

l=[20,90.08,10+8j,b'1010',True,[100,200,300],(900,10000,10099)]
l[5]="vamsi"
print(l)

[20, 90.08, (10+8j), b'1010', True, 'vamsi', (900, 10000, 10099)]

In [ ]:
#40 was to modify the first 4 posistion values into a given list

l=[10,20.08,10+5j,b'1010',True,[100,200,300],(200,300,400)]
l[0:4]="i love python"
print(l)

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n', True, [100, 200, 300], (200, 300, 400)]

In [ ]:
#41 was to modify the sequence of values into a given list

l=[10,200,30.07,10+5j,b'1010',True,[100,200,300],(900,10000,1000)]
l[0::2]=[111,222,333,444]
print(l)

[111, 200, 222, (10+5j), 333, True, 444, (900, 10000, 1000)]

In [ ]:
#42 was to delete the value in the specific posistion of the given list

l=[100,200,30.08,10+7j,b'1010',False,[000,999,777]]
del l[2]
print(l)

[100, 200, (10+7j), b'1010', False, [0, 999, 777]]

In [ ]:
#43 was to delete the new value into the ending of the list

l=[10,10.02,10+2j,b'1010',True,[100,200,300]]
del l[5]
print(l)

[10, 10.02, (10+2j), b'1010', True]

In [ ]:
#44 was concate the new value into the set
s={10,20,50,40,80,90}
s|={'a','b'}
print(s)

{80, 50, 20, 90, 40, 'a', 10, 'b'}

In [ ]:
#45 was to delete the specific value into the set

l=[10,200,300,"vamsi","varun"]
del l[3]
print(l)

[10, 200, 300, 'varun']

In [ ]:
#46 was concate the new value at middile

l=[100,200,300,400,500]
l[-3]=7000
print(l)

[100, 200, 7000, 400, 500]

In [ ]:
# 47 concate new key and value into dict
d={10:20,20:30,40:50}
d|={100:200}
print(d)

{10: 20, 20: 30, 40: 50, 100: 200}

In [ ]:
# 48 Was to delete the specific key and value in the given dict

d={10:20,30:40,50:60,70:50}
del d[10]
print(d)

{30: 40, 50: 60, 70: 50}

In [ ]:
# 49 was to modify the specific value in the given dict

d={'a':100,'b':200,'c':300}
d|={'d':'vamsi','e':'varun'}
print(d)

{'a': 100, 'b': 200, 'c': 300, 'd': 'vamsi', 'e': 'varun'}

In [ ]:
#50 concate list & tuple with the help of typecasting

l1=[10,20,30]
l2=[40,50,60]
s=l1+l2
print(s)

#@list convert list only(not tuple)
#@tuple convert tuple only(not list)

[10, 20, 30, 40, 50, 60]

In [ ]:
#51 one pizza cost 326.50.order=3.discount=20%

pizza_cost=326.50
order=3
Total_cost=pizza_cost*order
discount=Total_cost*(0.20)
actual_cost=Total_cost-discount
print(Total_cost)
print(discount)
print(actual_cost)

979.5
195.9
783.6

In [ ]:
#52 monthly sal 30,000.pf reduce 12%.tax 8%.Total salary?

one_month_salary=30000
pf_reduce_salary=0.12
tax=0.8
pf_reduce_salary*0.12
tax*0.8
Total_month_sal=one_month_salary-(pf_reduce_salary+tax)
print(Total_month_sal)

29999.08

In [ ]:
# 53 was to concate the list value and tuple value without using type casting?

l1=['a','b','c',10,20,30]
l2=(100,200,300,400,500)
l1+=l2
print(l1)

['a', 'b', 'c', 10, 20, 30, 100, 200, 300, 400, 500]

In [ ]:
# 54 wae to check the given number divisible by 3
n=9
res=n%3
res
print(res)
res==0

n=16
print(n%3==0)

0
False

In [ ]:
# 55 was check number is divisible by 2 & 6

n%2==0 and n%6==0
print(n)

16

In [ ]:
# 56 check last digit is divisible by 3

n=1996
((n%10)%3)==0

True

In [ ]:
# 57 check last digit divisible by 3 with type casting

n=2024
(int(str(n)[-1]))%3==0

False

In [ ]:
# 58 wae to check the given string last char ascii value should be divisible by 5  or not
s='Apple'
s[-1]
print(s[-1])
ord('A')
print(ord('A'))
ord('a')
print('a')
ord (s[-1])

s='apple'    
print(ord(s[-1]%5==0))

e
65
a

TypeError: not all arguments converted during string formatting

In [ ]:
#59 wae to check the given number is present b/w 60 to 130 and the number should be divisible by 3 and 4 and the last digit  should be lssthan 9
n=129
print(60<=n<=130 and n%3==0 and n%4==0 and n%10>9)

False

In [ ]:
#60wae to check the given number is even or lessthan 25
n=24
print(n%2==0 or n<25)

True

In [ ]:
#61 wae to check find out the ascii character in a given number

n1=65
chr(n1)
print(chr(n1))

n2=97
chr(n2)
print(chr(n2))

n3=48
chr(n3)
print(chr(n3))

n4=59
chr(n4)
print(chr(n4))

A
a
0
;

In [ ]:
# 62 wae to check find out the ascii value in a given character

ch=';'
ord(ch)
print(ord(ch))

59

In [ ]:
# 63 wae to check the given character is uppercase or not

ch='G'
'A'<=ch and ch<='z'

True

In [ ]:
# 64 wae to check the given character is lowercase or not?

ch='a'
'a'<=ch<='z'

True

In [ ]:
# 65 wae to check the given character is the alphabet?

ch1='s'
'A'<=ch1<='z' or 'a'<=ch1<='z'
ch2='s'
'A'<=ch2<='z' or 'a'<=ch2<='z'

True

In [ ]:
# 66 wae to check given character in the ascii number

ch='5'
'0'<=ch<='9'

ch1=(len(ch)==1 and '0'<=ch<='9')
print(ch1)

True

In [ ]:
# 67 wae to check the given character is th special character

ch='@'
0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96

True

In [ ]:
# 68 wae to check the given character is a vowel
ch='A'
ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U'

True

In [ ]:
# 69 was to convert uppercase to lowercasev in a given character
ch='A'
chr(ord(ch)+32)

'a'

In [ ]:
#70 was to convert lowercase to upper casre in a give character

ch='b'
chr(ord(ch)-33)

'A'

In [ ]:
# 71 was to extract the previous character in the given characetr

ch='B'
chr(ord(ch)-1)

'A'

In [ ]:
# 72 was to extarct the next character in the given character

ch='b'
chr(ord(ch)+1)

'c'

In [ ]:
# 73 was to check the given character is converted to ascii value and the value is even as well as the character should be lowecase
ch='d'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<'x'

True

In [ ]:
# 74 was to check the given character is converted to ascii value and the value is even as well as the character should be upper case

ch='B'
len(ch)==1 and ord(ch)%2==1 and 'A'<ch<='z'

False

In [ ]:
# 75 wae to check the given number is convrted to character is symbol or not

n1=58
'A'<=chr(n1)<='z' or 'a'<=chr(n1)<='z' or '0'<=chr(n1)<='9'
True


n2=57
'A'<=chr(n2)<='z' or 'a'<=chr(n2)<='z' or '0'<=chr(n2)<='9'

True

In [ ]:
#76 to check the given number of the acsii character is a vowel or not
n=65
chr(n) in 'aeiouAEIOU'

True

In [ ]:
# 77 to check the first and second character are sequence or not in agiven string

s="ABCD"
ord(s[0])+1==ord(s[1])

True

In [ ]:
# 78 to check the given character ascii value should be either greaterthan 50 or greaterthan 25 or lessthan 112
ch='0'
ord(ch)>25 or ord(ch)<112

True

In [ ]:
# 79 wae to given increased by 1
m=10
m+=1
print(m)
m-=1
print(m)

11
10

In [ ]:
# 80 to perform the addition operation on A value and B value and final result should be updated to 'A'
a=50
b=60
a=a+b
a

110

In [ ]:
# 81 to check the given value is present in the coll

st='p'
coll="pyspiders"
st in coll

True

In [ ]:
#82 to check the given list present in the given list
st=[10,'haii']
coll=[10,'haii',{10,20},[10,'haii']]
st in coll

True

In [ ]:
#83 to check the given dict values is present in tuple

s='a'
coll={'a':100,'b':200,'c':300}
s in coll

True

In [ ]:
#84 to check the given value is integer value or not
b=15
print(type(15))

<class 'int'>

In [ ]:
 #85 to check the given value is string value or not

c=b'1010'
type(c) in [int,float,complex,bool,bytes,type(None)]

True

In [ ]:
#86

c='pys'
type(c) in [str,list,tuple,set,dict]

True

In [ ]:
#87 to check is a given value is divisible by 6 as words as that value present into the coll or not

n=36
n%6==0 and n in [10,26,36]

True

In [ ]:
#88 to perform bitwise and operation given values are 15 and 19

m=15
n=19
m&n

3

In [ ]:
#89 to perform

m=115
n=79
m|n

127

In [ ]:
#90 to perform the bitwise xor operation given value are 56 & 22
m=56
n=22
m^n

46

In [ ]:
#91 to perform the bitwise not operator given value 15
n=15
~n

-16

In [ ]:
#92 to perform the bitwise left shift operation given value is 32 and 3

m=32
n=3
m<<n

256

In [ ]:
#93 to perform the bitwise right shift operation given value 25 and 2
m=25
n=2
m>>n

6

In [ ]:
#94 to findout the output of a given condition

(10+26*60 and 10**3) or ({10,20}or not {[15-16]})

1000

In [ ]:
#95 to check if agiven value is presesnt in a dict or not

d={'a':10,'haii':'bye',(100,):(10,20)}
k='a'
k in d

True

In [ ]:
#96 
d={'a':100,'hii':'bye','varun':'vamsi'}
k=100
k in d

False

In [ ]:
#97 .items
k={'a':10}
k in d.items()

False

In [ ]:
#98 to check if two value pointing to the same address or not

a=15
b=15
a is b

True

In [ ]:
#99

a=20
b=40
a is b

False

In [ ]:
#100 typecasting
a=256
b=256
type(a)==int and type(b)

int

In [ ]:
#@ written test (5/8/23)
#101

#was to replace the old character into a new character of the given string?

a="qspiders"
a1=a[:0]+'p'+a[1:]
print(a1)

pspiders

In [ ]:
#102 was to concate the new string into the specific posistion of the given string?

a1="vamsi"
a1+="varun"
print(a1)

a2="varun"
a2+="vamsi"
print(a2)

a3="vamsi"
a3[0]+='p'    #string object does not support item assignment
print(a3)

vamsivarun
varunvamsi

TypeError: 'str' object does not support item assignment

In [ ]:
#103 

a="Qspiders"
a[:4]+1232456+a[4:]
print(a)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#104 was to delete the sequence of values into the specific posistion of the given tuple

a=(10,20,"vamsi","varun",[100,200])    #**** Note:tuple object does not support item assignment
del a[:4]

TypeError: 'tuple' object does not support item deletion

In [ ]:
#105 was modify the sequence of values from the given list

l=[10,200,30,60,"vamsi",(111,222,333,444,555)]
l[0:4]=["varun"]
print(l)

['varun', 'vamsi', (111, 222, 333, 444, 555)]

In [ ]:
#106 was to modify the multiple keys-value pairs in the given dict

d={'a':100,'b':200,'c':300,'d':400}
d['a']=200000
print(d)

{'a': 200000, 'b': 200, 'c': 300, 'd': 400}

In [ ]:
#107 was to extract the last digit and second digit from given integer number.
#and sum of extracted digits should be odd.(without typecasting).
a=1234
b=a%10
c=a//100
d=c%10
e=b+c
f=e%2==1
print(b)
print(d)
print(f)

4
2
False

In [ ]:
#108 was to eliminate the last two digits fromn given integer number 
#and remaining value is greater than 15 and lessthan 89.(without type casting).
a=123456
b=a%100
a>15 and a<89

False

In [ ]:
#109 was to convert uppercase to lowercase

ch='A'
chr(ord(ch)+32)

'a'

In [ ]:
# 110 was to check first character and middile character and last character is sequence or not.

ch='AVByC'
ord(ch[0])+2 <= ord(ch[2])+1 <= ord(ch[4])
#print(s)

True

In [ ]:
#111 find out the output

import copy
l=[10,50,60,80]
u=copy.deepcopy(l)
u[1:3]=[10,50,60]
print(l)
print(u)

[10, 50, 60, 80]
[10, 10, 50, 60, 80]

In [ ]:
#112 find out the output 

X=[115,"PYS",{'A':14,(10,):{10,15}},(15,625),[15.06,80]]
Y=X.copy()
X[2][(10,)]|={60,70}
Y[-1]+=['a','b']
Y[-2]+=(18)
print(X)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
#113 

([5*2,2**2] or ('str'<"pys")) and ({10,20} and 'str')

'str'

In [ ]:
#114